.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.contacto {
  width: 100%;
  background-color: #0c0c0c;
}

.contacto .cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.contacto .card {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
}

.contacto .card h4 {
  margin-bottom: 0.7em;
}

.contacto .card p {
  padding: 0;
  margin: 0;
}

.contacto .card mark {
  color: #ffffff6e;
  background-color: transparent;
}
.contacto .icon {
  font-size: 25px;
}

@media (min-width: 768px) {
  .contacto .cards {
    flex-direction: row;
    justify-content: center;
  }

  .contacto .card {
    width: 13.33%;
  }
}
