.hero {
  text-align: center;
  width: 100%;
}

.banner {
  background-image: url('/img/camion-bg1.jpg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.banner h1 {
  display: none;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  color: white;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem auto;
  line-height: 1.5;
  font-size: 1.5rem;
  width: 66%;
}

@media (min-width: 768px) {
.banner {
    background-size: contain;
  }
  .banner h1 {
    display: block;
  }
}
